:root{
  --color-shark: #202124;
  --color-rolling-stone: #70757a;
  --color-royal-blue: #1a73e8;
  --color-shuttle-gray: #5f6368;
  --color-porcelain: #f1f3f4;
  --color-white: #fff;
  --color-squant: #666;
  --color-million-grey: #999;
  --color-snowflake: #f0f0f0;
  --color-snow-tiger: #dadce0;
  --color-cerebral-grey: #ccc;
  --color-aarhusian-sky: #1557b0;
  --color-doctor: #f8f9fa;
  --color-metallic: #bdc1c6;
  --color-mortar-grey: #9e9e9e;
  --color-azure: #007bff;
  --color-olympic-blue: #4A90E2;
  --color-carbon: #333;
  --color-black: #000;
  --color-brilliant-white: #e7f1ff;
  --color-london-rain: #0056b3;
}